
.card img {
  max-height: 200px;
  width: 250px;
  margin: 0px;
  padding: 0px;
}

.photo-label {
  position: absolute;
  left:0%;
  top: 65%;
  transform: translate(-0%, -65%);
  font-style: bold;
  background-color: black;
  color:antiquewhite;
  opacity: 0.6;
  padding: 3px;
  width: 100%;
}

