.card img {
    max-height: 200px;
    width: 250px;
    margin: 0px;
    padding: 0px;
}

.photo-label { /* unused atm */
    position: absolute;
    left: 0%;
    top: 65%;
    transform: translate(-0%, -65%);
    font-style: bold;
    background-color: black;
    color: antiquewhite;
    opacity: 0.6;
    padding: 3px;
    width: 100%;
}

.photo-thumb {
    max-width: 300px;
    overflow: hidden;
    text-align: center;
}

.navbar-brand.abs {
    position: absolute;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
